body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px 10px;   /* ✅ MUST be 10px 10px */
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.grid-item {
  background-color: lightgray;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}